 h1 {
     font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
     color: white;
     text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
        }
body {
    background-image: url("http://www.aco.in.ua/wp-content/uploads/2016/01/kraski-tekstura-fon-cveta.jpg");
    
    background-size: 1450px 800px;
}

p {
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
     color: white;
    font-size: 20px;
     text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    
}

div {
    height: 500px;
    width: 950px;
}